

{% for product in collections['frontpage'].products %}
  <p>{{ product.title }}</p>
{% endfor %}

{% schema %}
  {
    "name": "Section name",
    "settings": [
{
  "type": "collection",
  "id": "featured_collection",
  "label": "Featured collection"
}

]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
