/* #Newsletter
================================================== */
.newsletter {
  margin: 0px auto;
  max-width: 640px;
}

.input-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
  width: 100%;
}
@media only screen and (max-width: 798px) {
  .input-row {
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
  }
}
.input-row input {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  max-height: 40px;
}
@media only screen and (max-width: 1024px) {
  .input-row input {
    margin: 5px 0;
  }
}
.input-row input.newsletter-form__sign-up {
  display: inline-block;
  flex: none;
  max-height: 44px;
}
@media only screen and (max-width: 798px) {
  .input-row input.newsletter-form__sign-up {
    width: 100%;
  }
}

.newsletter-both-names--true input.firstName {
  margin-right: 5px;
}

/* Newsletter popup */
.js-newsletter-popup {
  display: none;
}

.newsletter__lightbox .fancybox-content {
  width: 100%;
  max-width: 740px;
  padding: 0;
}.newsletter__lightbox .fancybox-content {
    border: 5px solid ;
  }@media only screen and (max-width: 480px) {
  .newsletter__lightbox .fancybox-close-small {
    display: block;
  }
}
@media only screen and (max-width: 798px) {
  .newsletter__lightbox .fancybox-close-small svg path {
    fill: white;
  }
}.newsletter__lightbox .fancybox-toolbar {
  display: none;
}

.newsletter-popup {
  display: flex;
  background-color: ;
  padding: 0;
  width: 100%;
}@media only screen and (max-width: 798px) {
  .newsletter-popup {
    line-height: 0;
    flex-direction: column;
  }
}

@media only screen and (min-width: 799px) and (max-width: 1024px) {
  .popup-signup-show--true input.newsletter-form__sign-up {
    margin-left: 0px;
  }
}

.popup-signup-show--false {
  display: none;
}

.newsletter-both-names--false .newsletter input[type=text] {
  width: 100%;
}

.newsletter-img {
  width: 40%;
}
@media only screen and (max-width: 798px) {
  .newsletter-img {
    width: 100%;
  }
}
.newsletter-img img {
  width: 100%;
  display: block;
}

.newsletter-info {
  text-align: center;
  color: ;
  background-color: ;
  height: auto;
  float: left;
}
@media only screen and (max-width: 798px) {
  .newsletter-info {
    padding: 20px;
    width: 100% !important;
    position: relative;
  }
}
.newsletter-info input.contact_email[type=email] {
  width: 65%;
  float: left;
}
@media only screen and (max-width: 1024px) {
  .newsletter-info input.contact_email[type=email] {
    width: 100%;
  }
}
.newsletter-info #contact_form input.newsletter-form__sign-up[type=submit] {
  width: calc(35% - 10px);
}
@media only screen and (max-width: 1024px) {
  .newsletter-info #contact_form input.newsletter-form__sign-up[type=submit] {
    width: 100%;
  }
}
.newsletter-info .input-row {
  margin-right: 0;
  margin-left: 0;
}
.newsletter-info .popup-signup-show--true {
  margin-top: 20px;
}

.newsletter-image--true .newsletter-popup__content {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 798px) {
  .newsletter-image--true .newsletter-popup__content {
    width: 100%;
    display: block;
  }
}
@media only screen and (min-width: 1025px) {
  .newsletter-image--true {
    max-height: 875px;
  }
}

@media only screen and (min-width: 1025px) {
  .newsletter-image--true.object-fit--none {
    height: auto;
  }
}

.newsletter-image--false {
  justify-content: center;
}
.newsletter-image--false .newsletter-info {
  width: 100%;
  position: relative;
  height: auto;
  float: none;
}

.align-left .newsletter-info {
  right: 0;
}

.newsletter-description h2 {
  color: ;
  margin-top: 0;
}

.newsletter-description {
  padding: 40px;
  margin: 0 auto;
}
@media only screen and (max-width: 798px) {
  .newsletter-description {
    font-size: inherit;
    width: auto;
  }
}
@media only screen and (max-width: 480px) {
  .newsletter-description {
    padding: 20px;
  }
}
@media only screen and (min-width: 1025px) {
  .newsletter-description {
    min-width: 350px;
  }
}
@media only screen and (min-width: 1401px) {
  .newsletter-description {
    font-size: inherit;
  }
}

.newsletter-popup__button {
  margin-top: 10px;
  margin-bottom: 0;
}.newsletter-popup__button {
    margin-left: 8px;
    margin-right: 8px;
  }@media only screen and (max-width: 480px) {
  .newsletter-popup__button {
    margin-top: 5px;
  }
}

.newsletter-popup__button--text {
  --button-color-border: ;
  --button-color-background: transparent;
  --button-color-text: ;
  --button-color-border-hover: ;
  --button-color-background-hover: ;
  --button-color-text-hover: ;
}


  
.newsletter-popup__button--highlighted {
  --button-color-border: ;
  --button-color-background: ;
  --button-color-text: ;
  --button-color-border-hover: 


;
  --button-color-background-hover: 


;
  --button-color-text-hover: ;
}

/* Newsletter section above footer */
.newsletter_section {
  transform: translate3d(0, 0, 0);
  background-color: ;
  color: ;
}

.newsletter_section h2 {
  margin-top: 0;
  color: ;
}

.newsletter_section.newsletter-bgr-true {
  background-color: ;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.newsletter_section.newsletter-bgr-true input.contact_email[type=email] {
  border: 0;
}
@media only screen and (max-width: 480px) {
  .newsletter_section.newsletter-bgr-true {
    text-align: center !important;
  }
}

.section_form {
  padding: 10px 20px;
}
.section_form input[type=email],
.section_form input[type=text] {
  border: 0;
}
.section_form .newsletter-text + .newsletter, .section_form h5 + .newsletter {
  margin-top: 15px;
}

.newsletter_section h5 {
  color:  !important;
  padding-top: 0px;
  margin: 0;
}

.newsletter_section .newsletter-text p {
  margin-bottom: 0;
}

.newsletter_section .newsletter,
.password-page-row form {
  display: inline-block;
  padding-top: 0 !important;
  width: 450px;
}
@media only screen and (max-width: 480px) {
  .newsletter_section .newsletter,
.password-page-row form {
    width: 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .newsletter_section .newsletter,
.password-page-row form {
    width: 100%;
  }
}

.shopify-challenge__container {
  padding: 150px 0;
}
.shopify-challenge__container .shopify-challenge__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  padding: 13px 20px;
  text-align: center;
  line-height: 1.2;
  font-family: , ;
  font-weight: ;
  font-style: ;
  font-size: px;
  text-transform: ;
  letter-spacing: px;
  word-break: break-word;
  cursor: pointer;
  transition: all 0.2s linear;
  border-color: var(--button-color-border, );
  background: var(--button-color-background, );
  color: var(--button-color-text, );
}.shopify-challenge__container .shopify-challenge__button {
    border-radius: 0;
  }.shopify-challenge__container .shopify-challenge__button:visited {
  color: var(--button-color-text, );
}
.shopify-challenge__container .shopify-challenge__button:hover:not([disabled]), .shopify-challenge__container .shopify-challenge__button:active {
  background: var(--button-color-background-hover, var(--button-color-background, ));
  border-color: var(--button-color-border-hover, var(--button-color-border, ));
  color: var(--button-color-text-hover, var(--button-color-text, ));
}
.shopify-challenge__container .shopify-challenge__button:active {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  outline: 0;
}
.shopify-challenge__container .shopify-challenge__button[disabled] {
  cursor: not-allowed;
}